@model List<CV.Core.Models.Card>

@foreach (var card in Model)
{
    foreach (var sec in card.Sections)
    {
        <div class="card m-auto p-3 border-0 shadow-sm">
            <div class="text-center"><img class="m-auto" src="https://via.placeholder.com/100x100"></div>
            <div class="card-body">
                <h3 class="mb-4 mt-3 text-title">@sec.Title</h3>
                @Html.Raw(sec.Text)
            </div>
        </div>
    }

}

