@model CV.Core.Models.Card

<div class="card m-auto p-3 border-0 shadow-sm">
    @{
        if (Model.AvatarPath != null)
        {
            <div class="text-center"><img class="m-auto" src="@Model.AvatarPath"></div>
        }
    }
    <div class="card-body @Model.CssClass">
        @Html.Partial("_section", Model.Sections)
    </div>
</div>
