@model List<CV.Core.Models.Card>

@foreach (var card in Model)
{
    
<div class="card m-auto p-3 border-0 shadow-sm">
    @{
        if (card.AvatarPath != null)
        {
            <div class="text-center"><img class="m-auto" src="https://via.placeholder.com/100x100"></div>
        }
    }
    <div class="card-body">
        @Html.Partial("_section", card.Sections)
    </div>
</div>

}

