@model CV.Core.Models.RazorLayoutView

<div class="layout container-fluid">
    <div class="row">
        <div class="sidebar pt-3 pb-3">
            <span class="layout-divider bg-primary"><i class="fa fa-compress" aria-hidden="true"></i></span>

            @Html.Partial("_card", new CV.Core.Models.Card()
       {
           AvatarPath = "/Content/img/me.jpg",
           CssClass = "text-center",
           Sections = new List<CV.Core.Models.Section>()
                   {
                       new CV.Core.Models.Section()
                       {
                           SubTitle = "Peter Stankowski",
                           BadgeList = new CV.Core.Models.BadgeList()
                           {
                               CssClass = "light",
                               Text = "summon2008@yahoo.com,07907 937 649",
                               GroupName = "personal"
                           }
                       }
                   }
       })

            @Html.Partial("_card", new CV.Core.Models.Card()
       {
           Sections = new List<CV.Core.Models.Section>()
                   {
                       new CV.Core.Models.Section()
                       {
                           SubTitle = "Back End",
                           BadgeList = new CV.Core.Models.BadgeList()
                           {
                               CssClass = "primary",
                               Text = "C#,ASP.NET,SQL,SSIS,EntityFramework,LINQ",
                               GroupName = "backend",
                               AddHr = true
                           }
                       },
                       new CV.Core.Models.Section()
                       {
                           SubTitle = "Back End",
                           BadgeList = new CV.Core.Models.BadgeList()
                           {
                               CssClass = "warning",
                               Text = "jQuery, React, Angular, HTML, LESS, SCSS",
                               GroupName = "frontend",
                               AddHr = true
                           }
                       },
                       new CV.Core.Models.Section()
                       {
                           SubTitle = "Other",
                           BadgeList = new CV.Core.Models.BadgeList()
                           {
                               CssClass = "info",
                               Text = "Guitar,Boxing,Guitar",
                               GroupName = "other"
                           }
                       }
                   }
       })

            @Html.Partial("_card", new CV.Core.Models.Card()
   {
       Sections = new List<CV.Core.Models.Section>()
               {
                   new CV.Core.Models.Section()
                   {
                       SubTitle = "Other",
                       BadgeList = new CV.Core.Models.BadgeList()
                       {
                           CssClass = "info",
                           Text = "Guitar,Boxing,Guitar",
                           GroupName = "other"
                       }
                   }
               }
   })
        </div>

    </div>
</div>