@model CV.Core.Models.RazorLayoutView

<div class="layout container-fluid">
    <div class="row">
        <div class="sidebar pt-3 pb-3">
            <span class="layout-divider bg-primary"><i class="fa fa-compress" aria-hidden="true"></i></span>
            
            @Html.Partial("_card", Model.Sidebar.Cards)
          
            <div class="card m-auto p-3 border-0 shadow-sm">
                <div class="text-center"></div>
                <div class="">
                    <h6 class="text-subtitle">Back End</h6>
                    <span class="p-2 m-1 badge badge-primary">...</span><span class="p-2 m-1 badge badge-primary">...</span><span class="p-2 m-1 badge badge-primary">...</span>
                    <hr>
                    <h6 class="text-subtitle">Front End</h6>
                    <span class="p-2 m-1 badge badge-warning">...</span><span class="p-2 m-1 badge badge-warning">...</span><span class="p-2 m-1 badge badge-warning">...</span>
                    <hr>
                    <h6 class="text-subtitle">Other</h6>
                    <span class="p-2 m-1 badge badge-info">...</span><span class="p-2 m-1 badge badge-info">...</span><span class="p-2 m-1 badge badge-info">...</span>
                </div>
            </div>
            <div class="card m-auto p-3 border-0 shadow-sm">
                <div class="text-center"></div>
                <div class="">
                    <h6 class="text-subtitle">Interest</h6>
                    <span class="p-2 m-1 badge badge-info">...</span><span class="p-2 m-1 badge badge-info">...</span><span class="p-2 m-1 badge badge-info">...</span>
                </div>
            </div>
        </div>
       
    </div>
</div>